@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|IBM+Plex+Serif|Open+Sans');
/* General style */
button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 0 auto;
  font-size: 20px;
}

.errorMsg {
  width: 400px;
  background-color: pink;
  color: red;
}

/* Container style */
.App {
  font-size: 16px;
  font-family: 'Bungee Inline', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Serif', serif;
}

/* Table Style */

/* Single Item Style */

.sticky {
  position: fixed;
  background: transparent;
  z-index: 1;
}

table {
  max-width: 1200px;
  max-height: 1200px;
  border: 1px solid lightGray;
  overflow-y: scroll;
  display: block;
  margin: 20px;
  background-color: white;
}

th.sticky td.sticky {
  position: relative;
  left: 30px;
}
th.col:hover{
  cursor: context-menu;
}

th, td {
    padding: 15px;
    text-align: left;
    border-right: 1px solid lightGray;
    border-bottom: 1px solid lightGray;
    text-align: center;
}

tr.tableRow:hover{
  background-color: lightGray;
}
.contextMenu {
  width: 150px;
  text-align: center;
  height: auto;
  box-shadow: 0 0 20px 0;
  position: absolute;
  display: none;
  background-color: white;
  border-radius: 4px;
}
.contextMenu ul {
  list-style: none;
  padding: 5px 0 5px 0;
}

.contextMenu ul li{
  padding: 10px 5px 10px 5px;
  border-left: 1px solid transparent;
  cursor: pointer;
}
